<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        id        = "io.xface.hello"
        version   = "0.0.1">

    <pre_install_packages>
        <app_package id="helloxface" name="helloxface" />
    </pre_install_packages>

    <name>Hello xFace</name>

    <description>
        A sample Apache xFace application that responds to the deviceready event.
    </description>

    <author href="http://cordova.io" email="dev@cordova.apache.org">
        xFace Team
    </author>

    <content src="index.html" />

    <access origin="*" />
</widget>
